body {
  margin: 0;
  padding: 0;
}

.body-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}
